.page-header
  %h1=t '.title'

%p
  %strong= User.human_attribute_name(:first_name) + ':'
  %br
  = @user.first_name
%p
  %strong= User.human_attribute_name(:last_name) + ':'
  %br
  = @user.last_name
%p
  %strong= User.human_attribute_name(:email) + ':'
  %br
  = @user.email
%p
  %strong= User.human_attribute_name(:is_admin) + ':'
  %br
  = @user.is_admin
%p
  %strong= User.human_attribute_name(:nickname) + ':'
  %br
  = @user.nickname


= link_to t('back'), users_path, class: 'btn btn-default'
= link_to t('edit'), edit_user_path(@user), class: 'btn btn-default'
= link_to t('destroy'), user_path(@user), method: :delete,
data: { confirm: t('confirm') }, class: 'btn btn-danger'
