.page-header
  %h1=t '.title'
%table.table.table-striped
  %thead
    %tr
      %th= Tag.human_attribute_name(:id)
      %th= Tag.human_attribute_name(:name)
      %th= Tag.human_attribute_name(:created_at)
      %th=t '.actions'
  %tbody
    = render @tags

- if policy(Tag).new?
  = link_to t('.new'), new_tag_path, class: 'btn btn-primary'
