.page-header
  %h1=t '.title'

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @tag.name


= link_to t('back'), tags_path, class: 'btn btn-default'
= link_to t('edit'), edit_tag_path(@tag), class: 'btn btn-default'
= link_to t('destroy'), tag_path(@tag), method: :delete,
data: { confirm: t('confirm') }, class: 'btn btn-danger'
