.page-header
  %h1=t '.title'
%table.table.table-striped
  %thead
    %tr
      %th= Report.human_attribute_name(:id)
      %th= Report.human_attribute_name(:user_id)
      %th= Report.human_attribute_name(:title)
      %th= Report.human_attribute_name(:status)
      %th= Report.human_attribute_name(:created_at)
      %th=t '.actions'
  %tbody
    = render @reports

= paginate @reports, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-small pagination-centered'
.row
  = link_to t('.new'), new_report_path, class: 'btn btn-primary'
